<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <div class="form">
        <a href="http://localhost:2020/data">back</a>
        <h4>Edit your data</h4>
        <h2>Your Id : <%= E_data.id %></h2>
        <form method="post" action="http://localhost:2020/data/<%=E_data.id%>?_method=PATCH">
            <label for="name">Name </label>
            <input type="text" name="name"  id="name" value="<%=E_data.name%>" > <br><br>
            <label for="number">Number </label>
            <input type="number" name="phoneNumber" id="number" value="<%=E_data.phoneNumber%>" ><br><br>
            <label for="vill">Village </label>
            <input type="text" name="village" id="vill" value="<%=E_data.village%>" ><br><br>
            <label for="dis">District </label>
            <input type="text" name="district" id="dis" value="<%=E_data.district%>" ><br><br>
            <label for="pin">Pincode </label>
            <input type="number" name="pinCode" value="<%=E_data.pinCode%>" ><br><br>
            <label for="state">State </label>
            <input type="text" name="state"  id="state" value="<%=E_data.state%>" ><br><br>
            <button>submit</button>
        </form>
    </div>
</body>
</html>